body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
    background-color:#e4e4e4;
}
.container,#pop_desc {
    width: 400px;
    margin: 10px auto 100px;
    background-color:#fff;
    padding:0px 10px 10px 10px;
    border-radius:10px;
    box-shadow: 6px 6px 5px grey;
}


h2 {
    text-align:center;
    padding-top:10px;
    margin-bottom:0px;
}

table {

    padding: 0;
    width:100%;
    margin-top: 20px;
}

tr * {
    float: left;
}

/* Heading */

h3 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 20px 0 10px;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}
th{
    width: 100%;
}

/* Task list */

tr {
    overflow: hidden;
    padding: 20px 0;

}

tr > td > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 30px;
}

tr > td > p {
    font-size: 18px;
    line-height: 40px;
    width: 345px;
    padding: 0 0 0 11px;
    border-radius: 10px;
}



/* Completed */

#completed-tasks p {
    text-decoration: line-through;
    color: #888;
}
.description{
    display:flex;
}
.title{
    width:100px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.espace{
    width:10px;
}
.details{
    width: 285px;
    height: 100px;
    word-wrap: break-word;
}
button {
    transition-duration: 0.4s;
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    border : 0px;
}

.go_back:hover {
    background-color: #343232;
    color: white;
}
.btn{
    display: flex;
    justify-content: center;
    float: inherit;
}
.addButton:hover {
    background-color: #cbdffc;
    color: white;
}
.save:hover{
    background-color: #e7fad5;
    color: white;
}
.error{
    width:90px;
}
.err_contenu{
    display:none;
    color :red;
    font-size: 12px;
    margin-left: 22px;
    font-family: serif;
}
.contenu{
    width: 280px;
    height: 100px;
}
.contenu_input{
    width: 276px;
    height: 20px;
}

#btn1{
    display: flex;
    justify-content: center;
    float: inherit;
    margin-left: 142px;
}

.desc:hover{
    background-color: #f1f1f1;
    cursor: pointer;

}

.myCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.myCheckbox:checked {
    background-color: #e2facc;
}




